<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PlacePony</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <h1>PlacePony</h1>
          <p>A quick and simple service for getting ponies from My Little Pony Friendship is Magic for use as placeholders in your designs or code. Just put your image size (width & height) after our URL and you'll get a placeholder.</p>
          <samp>Like this: <a target="_blank" href="https://placepony.crescentmoon-design.com/500/500">https://placepony.crescentmoon-design.com/500/500</a></samp>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
